body{
margin: 0px;
padding: 0px;
}
.wawank {
width: 100%;
height: 40px;
background-color: #050514;
color: white;
font-size: 24px;
text-align: center;
font-weight: bold;
line-height: 40px;
}
.sambalado {
width: 100%;
height: auto;
border: 1px solid;
padding-top: 50px;
padding-bottom: 50px;
background: url(1234.png);
}